<div class="modal-header">
    <h3 class="modal-title">Create new task</h3>
</div>
<div class="modal-body">
    <form class="form-horizontal">

            <div class="form-group">
                <label class="col-md-4 control-label" for="textinput">Name</label>
                <div class="col-md-6">
                    <input id="textinput"
                           ng-model="task.name"
                           name="textinput" type="text" placeholder="Task name" class="form-control input-md" required="">

                </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="description">Description</label>
                <div class="col-md-6">
                    <input id="description"
                           ng-model="task.description"
                           name="description" type="text" placeholder="Task description here" class="form-control input-md">

                </div>
            </div>

        <!-- Select Basic -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="owner">Owner</label>
            <div class="col-md-6">
                <select id="owner"
                        ng-model="task.owner"
                        name="owner" class="form-control">
                    <option value="1">Divya</option>
                    <option value="2">Deepak</option>
                </select>
            </div>
        </div>
            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label">Deadline</label>
                <div class="col-md-6">
                    <div style="display:inline-block; min-height:290px;">
                        <uib-datepicker ng-model="task.deadline" min-date="minDate" show-weeks="true" class="well well-sm" custom-class="getDayClass(date, mode)"></uib-datepicker>
                    </div>

                </div>
            </div>



    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" type="submit" ng-click="ok()">OK</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
</div>